@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f5f5f5;
  --foreground: #171717;
  --gray: #a1a1a1;
  --border: #d9d9d9;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans);
}

li {
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAPCAMAAAAxmgQeAAAACVBMVEX///8AAAD///9+749PAAAAAXRSTlMAQObYZgAAAD5JREFUGNN1j9EKADAIAnP//9GjFq6w7iU4DNRsB06cb44TJ+UzYUcniqnqoA6ag/62JhjKIU0rxx1lKveuXJ5UAQs/G/2vAAAAAElFTkSuQmCC),
    auto;
}

.scrollable-box {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.gradient-border {
  border: 1px solid transparent;
  background: linear-gradient(#151515, #151515) padding-box,
    linear-gradient(0deg, #ecaa04 0%, rgba(236, 93, 4, 0.3) 100%) border-box;
}

.shadow {
  box-shadow: 0px -8px 32px 8px #ffc10766 inset;
  z-index: 20;
}

.drag-shadow {
  box-shadow: 0px 15px 28px -20px #ecaa04;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
